.container {
  max-width: 700px;
  margin: 40px auto;
  padding: 30px;
  background: rgba(220, 151, 232, 0.8); 
  backdrop-filter: blur(8px);
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(64, 49, 49, 0.1);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: #9342a1; 
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: bold;
}

input[type="text"] {
  flex: 1;
  width: 100%; 
  padding: 16px;
  border-radius: 10px;
  border: 1px solid #87659d;
  font-size: 18px;
  transition: all 0.3s ease;
  background-color: #ffffff;
  max-width: 500px;
  box-sizing: border-box; 
}

input[type="text"]:focus {
  outline: none;
  border-color: #a32bac; 
  box-shadow: 0 0 5px #da41bb;
}

.form-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

button {
  padding: 12px 24px;
  background-color: #6a1b9a; 
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ab47bc; 
}

.filters {
  margin-bottom: 20px;
  text-align: center;
  font-size: 15px;
  color: #6a1b9a;
}

.filters select {
  margin-left: 10px;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #a32bac;
  font-size: 14px;
  background-color: #ffffff;
  color: #6a1b9a;
}

ul {
  padding: 0;
  list-style: none;
}

li {
  background: #eedcee; 
  padding: 15px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s;
}

li:hover {
  transform: translateY(-2px);
}

.done {
  text-decoration: line-through;
  color: #010101; 
  flex-grow: 1;
}

.cancel-btn {
  background: #c819b7; 
  color: rgb(235, 229, 229);
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 470px;
}

.cancel-btn:hover {
  background: #3f1439; 
}